Modules/RuleEngine/resources/schema/WireDef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="UUID.xsd"/>
	<xs:complexType name="WireDef">
		<xs:attribute name="sourceComponent" type="UUID"/>
		<xs:attribute name="sourceOutput" type="UUID"/>
		<xs:attribute name="targetComponent" type="UUID"/>
		<xs:attribute name="targetInput" type="UUID"/>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="BooleanWire|StringWire|DoubleWire"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>